{% extends "base.html" %}

{% block title %}
	Sign in
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">

            <form method="post" class="text-center border border-light p-5">

                <p class="h4 mb-4">Sign in</p>

                {% csrf_token %}
                {{ form.as_p }}

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>                
                
                <!-- Register -->
                <p>Not a member?
                    <a href="">Register</a>
                </p>

                <!-- Social login -->
                <p>or sign in with:</p>
<!--  -->

            </form>                

        </div>

        <div class="col-md-3"></div>

    </div>
</div>

{% endblock %}
