<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color mb-5">

<div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'users:home' %}">Django</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:home' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:sign-up' %}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:profile-signup' %}">Profile SignUp</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:profile-edit' user.profile.id %}">Profile</a>
            </li>
            {% endif %}

        </ul>
        <!-- Links -->

        <!-- login and logout buttons -->
        <div class="my-1 mr-3">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="my-1 mr-3">
                <!-- user icon -->
                <div class="white-text">
                   <i class="fa fa-user" aria-hidden="true"></i>
                   {{ request.user }}
                </div>
            {% else %}
                <a class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>        
    </div>
    <!-- Collapsible content -->

</div>

</nav>
<!--/.Navbar-->